.loginImg {
    height: 550px;
    width: 400px;
}

@media (max-width : 468px){
    .loginPage {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .loginImg {
        height : 300px;
        width :200px
    }
}