.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  padding: 0.75rem 1rem; 
  border-radius: 0.5rem; 
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #008772;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #008772;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}