.hari{
    color: #929292;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.jadwal{
    color: #1E1E1E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.card-pasien{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: var(--Space---8, 8px);
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.pasien-user{
    display: flex;
    width: 226px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.user{
    display: flex;
    align-items: center;
    gap: 24px;
}

.icon{
    display: flex;
    padding: 7.727px;
    justify-content: center;
    align-items: center;
    gap: 7.727px;
    border-radius: 26.273px;
    border: 0.5px solid var(--neutrals-darker, #000);
    background: #FFF;
}

.user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.menu-pasien{
    display: flex;
    width: 242px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Space---8, 8px);
}

.kotak-jadwal{
    display: flex;
    width: 221px;
    align-items: center;
    gap: 16px;
}

.kotak-jadwal1{
    display: flex;
    width: 102px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
    border-radius: var(--Space---8, 8px);
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.kotak-jadwal2{
    display: flex;
    width: 105px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
    border-radius: var(--Space---8, 8px);
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.tombol{
    width: 225px;
}


@media(min-width: 1440px){
    .card-pasien{
        display: flex;
        width: 244px;
        padding: 10px;
        margin-bottom: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: var(--Space---8, 8px);
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    }

    .pasien-user{
        display: flex;
        width: 226px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .icon{
        display: flex;
        padding: 7.727px;
        justify-content: center;
        align-items: center;
        gap: 7.727px;
        border-radius: 26.273px;
        border: 0.5px solid var(--neutrals-darker, #000);
        background: #FFF;
    }

    .user-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
    }

    .menu-pasien{
        display: flex;
        width: 242px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--Space---8, 8px);
    }

    .kotak-jadwal{
        display: flex;
        width: 221px;
        align-items: center;
        gap: 16px;
    }

    .kotak-jadwal1{
        display: flex;
        width: 102px;
        padding: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
        flex-shrink: 0;
        border-radius: var(--Space---8, 8px);
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    }

    .kotak-jadwal2{
        display: flex;
        width: 105px;
        padding: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
        flex-shrink: 0;
        border-radius: var(--Space---8, 8px);
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    }

    .tombol{
        width: 225px;
    }
}