.chatWrapper {
  display: flex;
  flex-direction: column;
  position: fixed; 
  height: 100%;
  padding: 2.5rem 1rem 3.125rem 1rem; 
  border-right: 1px solid rgba(0, 0, 0, 0.13);
  background: #FAFAFA;
  gap: 1.5rem;
}

.chat-body__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .chatWrapper{
    width: 21.8rem;
  }
}

@media (min-width: 992px) {
.chat-body__wrapper{
  margin-left: 21.9rem;
}
  
}