.custom-modal {
  border-radius: 1.8rem;
  padding: 1.5rem; 
  gap: 2rem;
  background: #FFF;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.10); 
  max-width: 17.9375rem;
}
.wrapper-modal {
  position: fixed;
  z-index: 55;
  top: 20%;
  left: 20%;
}
.prescription-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 30rem;
  z-index: 50;
}

.edit-modal {
  width: 100% !important;
  height: 43.75rem !important;
  max-width: 51.25rem !important;
}

.modal-avatar {
  width: 6rem !important;
  height: 6rem !important;
}

Input .input-diagnosa{
  background: #ECECEC ;
  color: #9C9C9C;
}

Input .input-diagnosa:hover {
  border: 1px solid ;
  border-color: #505ACB ;
  box-shadow: none ;
  background: transparent ;
}

Select {
  background: #ECECEC ;
  color: #9C9C9C;
}

Select:focus {
  border: 1px solid ;
  border-color: #505ACB ;
  box-shadow: none ;
  background: transparent ;
}

Select option:focus {
  background-color: #ECECEC ;
}


.btn-outline-primary {
	--bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
}
.btn-outline-primary{
  color: #008772;
  border-radius: 0.75rem;
}

/* Input Image */
.inputImage + label {
  padding: 0.75rem 1rem; 
  border-radius: 0.5rem; 
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
}
.inputImage + label {
  background-color: #fff;
  color: white;

}
.article-edit-icon {
  position: absolute;
  width: 2.5rem;
  left: 40%;
  top: 40%;
}
.inputImage:focus + label {
  background-color: #fff;
}
.inputImage + label {
	cursor: pointer;
}

@media (min-width: 768px) {
  .wrapper-modal {
    position: fixed;
    z-index: 55;
    top: 20%;
    left: 42.5%;
  }
}

@media (min-width: 992px) {
  .prescription-modal {
    max-width: 68rem;
  }
}