.chat-container{
  width: 100%;
}

@media (min-width: 768px) {
  .home-container {
    max-width: calc(100vw - 17rem);
  }
}
@media (min-width: 1200px) {
  .chat-container{
    max-width: 19rem;  
  }
  .flex-xl-row {
    display: flex;
    flex-direction: row;
  }
}