.form-control-inputText {
    width: 960px;
    height: 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--neutrals-gray-dark, #B9B9B9);
    background: var(--light-light-1, #FFF);
    padding: 7.5px 25px;
}