.navbar {
    width: 100%;
}

.iconSize {
  width: 30px;
  margin:0;
}

.navbar__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  background: #F6F6F6; 
} 
  
@media (min-width: 768px) {
  .navbar{
    padding: 1.5rem 2.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }
  .iconSize {
    width: 36px;
  }
    
}