.sidebar {
  position: fixed;
  width: fit-content;
  height: 100vh;
  max-width: 100vh;
  padding: 1.5rem 0.625rem;
  background-color: #F8F8F8;
  z-index: 50;
}

.navBtn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  width: 15rem;
  gap: 0.94rem;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 0.9375rem; 
  gap: 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.btnWrapper {
  width: fit-content;
  list-style: none;
  bottom: 2rem;
}

.logoutBtn {
  display: flex;
  width: 15rem;
  margin-top: 0.6rem;
  justify-content: space-between;
  padding: 2 1rem;
}

.logoutBtn:hover {
  background-color: #ccc;
  color: #000000;
}

/* Buat responsive tata letak logout button jika tinggi layar kecil */
@media (min-height: 720px) {
  .btnWrapper {
    position: absolute;
  }
  .logoutBtn {
    margin-top: 0;
  }
}

