.medical-card{
  width: 20rem;
}
.chat-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
}
.chat-list:hover {
  border-radius: 0.5rem; 
  background: #F0F0F0;
  cursor: pointer;
}

.chart_gender {
  display: flex;
  width: auto;
  max-width: 8.125rem;
  height: 13.375rem;
  padding: 0.534rem 0.855rem;
  align-items: flex-start;
  gap: 0.534rem;
} 

.chart_gender_img {
	width: auto;
	min-width: 5.625rem;
  height: 5.625rem;
}

.chart_gender_circle {
	width: 1.283rem;
	height: 1.283rem;
}

.chart_pasien {
	display: flex;
  width: auto;
	max-width: 6.813rem;
	height: 5.688rem;
	padding: 0 0.534rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.chat_dashboard {
  display: flex;
  width: fit-content;
  min-width: 17.25rem;
  height: fit-content;
  max-width: 13.375rem;
  padding: 0.938rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.avatar_icon {
  width: 2.5rem;
  height: 2.5rem;
}

.consultation__chat {
  display: flex;
  height: fit-content;
  width: auto;
  max-width: 29.938rem;
  max-height: 13.375rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
}

@media (min-width: 767.98px) and (max-width: 1023.98px) { 
  .chat_dashboard {
    min-width: 23.688rem;
  }

  .consultation__chat {
    max-width: 23.688rem;
  }

  .table_pasien_content {
    display: flex;
    height: fit-content;
    max-width: 23.688rem;
    margin: auto;
  }
 }

 @media (min-width: 1024px)  { 

  .consultation__chat {
    max-width: 36.188rem;
  }
 }